<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    About Me
    <span style="color: var(--brand-color);">|</span>
</h1>

<table style="margin-left: 10%; width: 70%">
    <tr>
        <td>
            <div >
                <img src="./../../../assets/images/profile/profile_2020.jpg" class="bio-image" alt="Elad Kapuza">
            </div>
        </td>
        <td>
            <div style="margin-left: 5px; width: 100%;">
                <p>
                    Automation developer with 6 years of experience in planning and developing automation solutions,
                    tools and web applications for testing software, monitoring resources,
                    troubleshooting problems and manage regressions
                </p>
                <p>
                    Bachelor of Computer Science from Technion.
                </p>
                
                <p>
                    Currently work as Automation and DevOps Engineer at PTC.
                </p>
            </div>
        </td>
    </tr>
</table>


