<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    <mat-icon style="color: var(--icon-color); scale: 2; margin-right: 20px;">account_circle</mat-icon>
    About 
    <span style="color: var(--brand-color);">Me</span>
</h1>

<table style="margin-left: 10%; width: 70%">
    <tr>
        <td>
            <div >
                <img src="./../../../assets/images/profile/profile_2020.jpg" class="bio-image" alt="Elad Kapuza">
            </div>
        </td>
        <td>
            <div style="margin-left: 5px; width: 100%;">
                <p style="font-size: x-large;">
                    Automation developer with 6 years of experience in planning and developing automation solutions,
                    tools and web applications for testing software, monitoring resources,
                    troubleshooting problems and manage regressions.
                </p>
                <p style="font-size: x-large;">
                    Bachelor of Computer Science from Technion.
                </p>
                
                <p style="font-size: x-large;">
                    Currently work as Automation and DevOps Engineer at PTC.
                </p>

                <p><strong style="color: var(--title-color)">Email: </strong> <span> eladkapuza@gmail.com</span></p>
                <p><strong style="color: var(--title-color)">Place: </strong> <span> Haifa, Israel</span></p>

            </div>
        </td>
    </tr>

</table>


