<div style="text-align: left; margin-left: 20%; margin-top: 10%;">
    <p class="large-header">
        Hello<span style="color: var(--brand-color)">.</span>
    </p>
    <p class="medium-header">
        <span style="color: var(--brand-color);"></span>I am Elad Kapuza 
    </p>

    <p style="font-size: 36px; font-weight: 400; color: var(--header-color);">
        Experienced Automation Developer
    </p>
</div>

<div style="text-align: left; margin-left: 20%;">
    <a class="icon-link" href="https://il.linkedin.com/in/eladkapuza" target="_blank">
        <i style="font-size: 48px; margin-left: 0; cursor: pointer;" class="fa fa-linkedin-square"></i>
    </a>
    <a class="icon-link" href="https://github.com/eladkap" target="_blank">
        <i style="font-size: 48px; margin-left: 48px; cursor: pointer;" class="fa fa-github"></i>
    </a>
    <a class="icon-link" href="mailto:eladkapuza@gmail.com" target="_top">
        <i style="font-size: 48px; margin-left: 48px; cursor: pointer;" class="fa fa-envelope"></i>
    </a>
</div>