<div style="text-align: left; margin-left: 20%; margin-top: 10%;">
    <p style="font-size:  48px; font-weight: 500;">
        Hi,
    </p>
    <p style="font-size: 48px; font-weight: 500;">
        I'm Elad<span style="color: var(--header-color)"> Kapuza</span> 
    </p>

    <p style="font-size: 24px; font-weight: 400;">
        I Am Automation Developer
    </p>
</div>

<div style="text-align: left; margin-left: 20%;">
    <a href="https://il.linkedin.com/in/eladkapuza" target="_blank">
        <i style="color: var(--icon-color); font-size: 24px" class="fa fa-github"></i>
    </a>
    <a href="https://github.com/eladkap" target="_blank">
        <i style="color: var(--icon-color);" class="fab fa-github fa-2x"></i>
    </a>
    <a href="mailto:eladkapuza@gmail.com" target="_top">
        <i style="color: var(--icon-color)" class="fab fa-envelope fa-2x"></i>
    </a>
</div>