.large-header {
    font-size: 64px;
    font-weight: 500;
    color: var(--header-color);
}

.medium-header {
    font-size: 48px;
    font-weight: 500;
    color: var(--header-color);
}

.icon-link {
    color: var(--icon-color);
    transition: 0.5s;
}

.icon-link:hover {
    color: var(--icon-hover-color);
    transition: all 0.5s ease-out;
}

.btn {
    font-size: large;
    color: var(--text-color);
    background-color: var(--btn-backcolor);
}

.btn:hover {
    background-color: var(--btn-backcolor-hover);
    transition: all 0.5s ease-out;
}
