<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    <!-- <mat-icon style="color: var(--icon-color); scale: 2; margin-right: 20px;">work</mat-icon> -->
    <!-- <img src="./../../../assets/images/icons/work-experience.png"> -->
    <i class="fa fa-laptop"></i>
    My
    <span style="color: var(--brand-color);">Projects</span>
</h1>

<div style="margin-left: 10%;">
    <h5 style="font-size: 16px; color: var(--text-color);">
        Check out my personal projects...
    </h5>
</div>

<div style="width: 80%; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <table style="background-color: var(--background-color);">
        <tr>
            <td >
                <h4>Path-finder Visualization</h4>
                <p>
                    App demonstrating Path-finder algorithms: BFS, DFS, A-Star
                </p> 
                <a href="https://eladkap.github.io/pathfinder" target="_blank">
                    <img src="./../../../assets/images/projects/pathfinder_bg.png">
                </a>
                
            </td>

            <td>
                <h4>Sorting Visualization</h4>
                <p>
                    App demonstrating sorting algorithms: Bubble-sort, Quick-sort, Merge-sort, Heap-sort
                </p>    
                <a href="https://eladkap.github.io/sorting" target="_blank">
                    <img src="./../../../assets/images/projects/sorting_bg.png">
                </a>        
            </td>
        </tr>

        <tr>
            <td>
                <h4>Mines Sweeper</h4>
                <p>
                    Classic Mine-Sweeper game with hint.
                    If hint is enabled, once the mouse is over a mine,
                    a white spot will appear on top-left of the board
                </p>
                <a href="https://eladkap.github.io/mines_sweeper" target="_blank">
                    <img src="./../../../assets/images/projects/mines_sweeper_bg.png">
                </a>    
            </td>

            <td>
                <h4>Pacman</h4>
                <p>
                    Classic famous Pacman game.
                    Warning: this game is addictive
                </p>
                <a href="https://eladkap.github.io/pacman" target="_blank">
                    <img src="./../../../assets/images/projects/pacman_bg.png">
                </a>
            </td>
        </tr>
    </table>
</div>
