<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    <!-- <mat-icon style="color: var(--icon-color); scale: 2; margin-right: 20px;">education</mat-icon> -->
    <i class="fa fa-graduation-cap"></i>
    My 
    <span style="color: var(--brand-color);">Education</span>
</h1>


<br><br>
<!-- <img src="./../../../assets/images/events/technion/technion_done.jpg" width="40%"> -->

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>
            <mat-card>
                <!-- <mat-card-header> -->
                    <h4>
                       Bachelor of Computer Science & Information Systems 
                    </h4>
               
                    <!-- <mat-card-subtitle> -->
                        <h5>
                            Technion Israel Institute of Technology | Haifa
                        </h5>
                    <!-- </mat-card-subtitle> -->
                <!-- </mat-card-header> -->

                    <p style="color: var(--time-color); font-size: large;">
                        <!-- <mat-card-footer> -->
                        2012 - 2017
                        <!-- </mat-card-footer> -->
                    </p>
            </mat-card>
            
        </td>
        <td>
            <!-- <img src="./../../../assets/images/events/technion/technion_logo_transparent.png"> -->
        </td>
    </tr>
    <tr style="margin-top: 50px;">
        <td>
            <mat-card>
                <!-- <mat-card-header> -->
                    <h4>
                       Practical Software Engineering Diploma 
                    </h4>
                <!-- </mat-card-header> -->
                <!-- <mat-card-subtitle> -->
                    <h5>
                        ORT Kiryat Bialik College
                    </h5>
                <!-- </mat-card-subtitle> -->

                    <p style="color: var(--time-color); font-size: large;">
                        2007 - 2008
                    </p>
            </mat-card>
        </td>
    </tr>

</table>

<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    My 
    <span style="color: var(--brand-color);">Academic Project</span>
</h1>

<table style="margin-left: auto; margin-right: auto; width: 65%">
    <tr>
        <td>
            <mat-card style="margin-left: auto; margin-right: auto; width: 50%;">

                <h4 style="text-align: center">
                    FM-Delta: Fault Management Packet Compression
                </h4>
                
                <h5 style="text-align: center">
                    Cooperation with Marvell Technology | Oct 2014
                </h5>
                
                <!-- <p style="font-size: 18px; color: var(--text-color);">
                    In this project we implemented a few packet compression/decompression algorithms for network devices. We compared the algorithms in terms of performance and compression ratio. The project included researching and analyzing well-known compression algorithms. We implemented a simple hardware-friendly delta encoding algorithm with of compression ratio of ~2.6. Working tools: Linux Ubuntu, VMWARE, C, Bash for scripting, Matlab for analyzing results and presenting graphs.
                We published the paper "FM-Delta Compressing Fault Management Packets" that was accepted by IEEE. The project poster participated at the IM 2017 conference in Lisbon, Portugal.
                </p> -->
            </mat-card>
        </td>
    </tr>
</table>
