<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    <!-- <mat-icon style="color: var(--icon-color); scale: 2; margin-right: 20px;">education</mat-icon> -->
    <i class="fa fa-graduation-cap"></i>
    My 
    <span style="color: var(--brand-color);">Education</span>
</h1>


<br><br>
<!-- <img src="./../../../assets/images/events/technion/technion_done.jpg" width="40%"> -->

<table style="margin-left: auto; margin-right: auto;">
    <tr>
        <td>
            <mat-card>
                <!-- <mat-card-header> -->
                    <h4>
                       Bachelor of Computer Science & Information Systems 
                    </h4>
               
                    <!-- <mat-card-subtitle> -->
                        <h5>
                            Technion Israel Institute of Technology | Haifa
                        </h5>
                    <!-- </mat-card-subtitle> -->
                <!-- </mat-card-header> -->

                    <p style="color: var(--time-color); font-size: large;">
                        <!-- <mat-card-footer> -->
                        2012 - 2017
                        <!-- </mat-card-footer> -->
                    </p>
            </mat-card>
            
        </td>
        <td>
            <img src="./../../../assets/images/events/technion/technion_logo_transparent.png">
        </td>
    </tr>
    <tr style="margin-top: 50px;">
        <td>
            <mat-card>
                <!-- <mat-card-header> -->
                    <h4>
                       Practical Software Engineering Diploma 
                    </h4>
                <!-- </mat-card-header> -->
                <!-- <mat-card-subtitle> -->
                    <h5>
                        ORT Kiryat Bialik College
                    </h5>
                <!-- </mat-card-subtitle> -->

                    <p style="color: var(--time-color); font-size: large;">
                        2007 - 2008
                    </p>
            </mat-card>
        </td>
    </tr>
</table>
