<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    <!-- <mat-icon style="color: var(--icon-color); scale: 2; margin-right: 20px;">code</mat-icon> -->
    <i class="fa fa-laptop-code"></i>
    My
    <span style="color: var(--brand-color);">Skills</span>
</h1>

<h2 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    Technical Skills
</h2>

<div style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 50px;">
    <table style="background-color: var(--background-color);">
        <tr>
            <td>  
                <img src="./../../../assets/images/technical-skills/python.png" width="20%">
                <h4 style="margin-top: 20px;">Python</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/java.png" width="20%">
                <h4 style="margin-top: 20px;">Java</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/c-sharp.png" width="20%">
                <h4 style="margin-top: 20px;">C#</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/linux.png" width="20%">
                <h4 style="margin-top: 20px;">Linux</h4>
            </td>
        </tr>
        <tr>
            <td>  
                <img src="./../../../assets/images/technical-skills/git.png" width="20%">
                <h4 style="margin-top: 20px;">Git</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/gitlab.png" width="20%">
                <h4 style="margin-top: 20px;">GitLab</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/jenkins.png" width="20%">
                <h4 style="margin-top: 20px;">Jenkins</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/docker.png" width="20%">
                <h4 style="margin-top: 20px;">Docker</h4>
            </td>
        </tr>

        <tr>
            <td>  
                <img src="./../../../assets/images/technical-skills/postgresql.png" width="20%">
                <h4 style="margin-top: 20px;">PostgreSQL</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/mysql.png" width="20%">
                <h4 style="margin-top: 20px;">MySQL</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/mongodb.png" width="20%">
                <h4 style="margin-top: 20px;">MongoDB</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/elastic-search.png" width="20%">
                <h4 style="margin-top: 20px;">Elasticsearch</h4>
            </td>
        </tr>
        
        <tr>
            <td>  
                <img src="./../../../assets/images/technical-skills/elastic-search.png" width="20%">
                <h4 style="margin-top: 20px;">Angular</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/javascript.png" width="20%">
                <h4 style="margin-top: 20px;">JavaScript</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/html.png" width="20%">
                <h4 style="margin-top: 20px;">HTML5</h4>
            </td>

            <td>  
                <img src="./../../../assets/images/technical-skills/css3.png" width="20%">
                <h4 style="margin-top: 20px;">CSS3</h4>
            </td>
        </tr>
    </table>
</div>


<h2 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    Soft Skills
</h2>

<!-- <div style="width: 60%; margin-left: 20%; margin-top: 50px;"> -->
    <table style="width: 60%; margin-left: auto; margin-right: auto; margin-top: 50px;">
        <tr>
            <td>
                <h4>
                    Communication 
                </h4>        

            </td>

            <td>
                <h4>
                    Teamwork 
                </h4>
            </td>
           
            <td>
                <h4>
                    Innovative 
                </h4>
            </td>
        </tr>
        <tr style="top: 50px;">
            <td>
                <h4>
                    Agile 
                </h4>
            </td>

            <td>
                <h4>
                    Problem-solving 
                </h4>
            </td>
           
            <td>
                <h4>
                    Creativity
                </h4>
            </td>
        </tr>
    </table>
<!-- </div> -->
