<h1 style="text-align: center; color: var(--text-color); padding-top: 40px;">
    <!-- <mat-icon style="color: var(--icon-color); scale: 2; margin-right: 20px;">code</mat-icon> -->
    <i class="fa fa-laptop-code"></i>
    My
    <span style="color: var(--brand-color);">Skills</span>
</h1>


<div style="width: 60%; margin-left: 20%; margin-top: 50px;">
    <mat-grid-list cols="4" rowHeight="4:1">
        <mat-grid-tile>
            <i style="font-size: 24px; margin-left: 0; cursor: pointer;" class="fab fa-python"></i>
        </mat-grid-tile>
        <mat-grid-tile>
            <i style="font-size: 24px; margin-left: 0; cursor: pointer;" class="icon-postgres"></i>
        </mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
        <mat-grid-tile>1</mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
        <mat-grid-tile>3</mat-grid-tile>
        <mat-grid-tile>4</mat-grid-tile>
    </mat-grid-list>
    
</div>
