<mat-toolbar color="primary" class="mat-elevation-z6"> 
    <span><mat-icon></mat-icon>Portfolio eladkapuza</span>

    <span class="spacer"></span>

    <a mat-button class="topnav-link" routerLink="home">Home</a>
    <a mat-button class="topnav-link" routerLink="about">About</a>
    <a mat-button class="topnav-link" routerLink="skills">Skills</a>
    <a mat-button class="topnav-link" routerLink="education">Education</a>
    <a mat-button class="topnav-link" routerLink="projects">Projects</a>
    <a mat-button class="topnav-link" routerLink="experience">Experience</a>
    <a mat-button class="topnav-link" routerLink="contact">Contact</a>


    <!-- <button style="color: var(--topnav-forecolor)" (click)="drawer.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->

</mat-toolbar>

<!-- <mat-drawer-container style="background-color: var(--background-color);" autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start">
    </mat-drawer>
    <mat-drawer-content>
        <div style="text-align: center; min-height: 600px;">
            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container> -->
