@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background-color);

    --background-color: rgb(30,30,30);
    --topnav-backcolor: #2d394b;
    --topnav-forecolor: white;
    --topnav-hover-forecolor: #40e0d0;
    --text-color: white;
    --card-backcolor: #2d394b;
    --paragraph-color: #aaaaaa;
    --date-color: rgb(120, 120, 120);
    --title-color: #40e0d0;
    --link-color: #2f67ff;
    --avatar-backcolor: blue;
    --icon-color: white;
    --icon-hover-color: #40e0d0;
    --tab-color: rgb(120, 120, 120);
    --tab-color-focus: steelblue;
    --dialog-background: white;
    --header-color: white;
    --btn-backcolor: #21726A;
    --btn-backcolor-hover: #33b3a6;
    --brand-color: #40e0d0;
    --time-color: #cccccc;
}